.input-line {
  position: relative;

  span {
    color: red;
  }

  .terminal-text-inputed {
    padding-left: 5px;
  }

  .terminal-input {
    position: absolute;
    z-index: -2;
    color: black;
    opacity: 0;

    &:focus {
      outline: none;
    }
  }
  
  .command-prompt {
    position: absolute;
    top: 3px;

    &.blinking {
      animation: blink-caret 1.0s step-end infinite;
    }
  }

  @keyframes blink-caret {
    from, to { visibility: hidden }
    50% { visibility: initial; }
  }
}

