.loading {
  position: relative;
  height: 5px;
  border: 1px solid red;

  .color {
    position: absolute;
    background-color: red;
    width: 0;
    height: 5px;
    animation: progres 4s 1 linear;
    animation-fill-mode: forwards;
  }
}

@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}
