@import "ui/index";
@import url('https://fonts.googleapis.com/css?family=VT323');

html {
  font-family: 'VT323', monospace;
  font-size: 24px;
  font-variant-ligatures: no-common-ligatures;
  color: red;

  text-shadow: red 0 0 30px;
}

body {
  background-color: black;
  overflow: hidden;

  #app {
    height: 100%;
  }
}
