@import "ui/index";
@import url('https://fonts.googleapis.com/css?family=VT323');

html {
  font-family: 'VT323', monospace;
  font-size: 24px;
  font-variant-ligatures: no-common-ligatures;
}

body {
  background-color: black;
}
